<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unturned_Server_Manager1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Unturned_Server_Manager1.Properties.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value>C:\Unturned Server Manager\</value>
            </setting>
            <setting name="BaseConnect" serializeAs="String">
                <value>datasource=******;port=3306;username=	sql8160724;password=agzvGTtNjC</value>
            </setting>
        </Unturned_Server_Manager1.Properties.Settings>
    </userSettings>
</configuration>